body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
  }
  

  header {
    background-color: black;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .andresElegance {
    width: 100%;
    flex: content;
    align-items: center;
    justify-content: space-evenly;
  }
  
  nav{
    width: 70%;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav ul li {
    margin-right: 5px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  

.AndresJeans{
  width: 80px;
  height: 80px;
}


.product  {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.product {
  background-color: #f8f8f8;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

div ul li {
  margin-right: 20px;
}

main {
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  
}

.articulos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

  .ropa_hombre {
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
    width: 20%;
    background-color: white;
    justify-content: space-around;
}

.ropa_hombre img {
  width: 100%;
}

.seccion_productos1 {
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
}

.seccion_productos2 {
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
}

.seccion_productos3 {
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
}


.formulario{    
  display: flex;
  width: 30%;
  background-color: #fff;
  padding: 40px;
  margin: auto;
  border: 4px solid black;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.formulario form{
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

form .username {
  display: flex;
    margin: 5px;
    position: relative;
    flex-direction: row-reverse;
}

.contraseña{
  display: flex;
    margin: 5px;
    position: relative;
    flex-direction: row-reverse;
}

.formularioregis {
  position:absolute;
  top: 35%;
  left:35%;
  transform: translate*(-35%, -35%);
  width: 400px;
  background-color:#fff;
  padding: 20px;
margin:auto;
border: 4px solid black;

 
}
.opciones {

width: 100%;
padding: 5px;
margin-bottom: 5px;


}


.boton{
width: 100px;
background-color: greenyellow;
justify-content: center;
font-size: x-small;
margin: 1%;
}

.contra{
  position:absolute;
  top: 35%;
  left:35%;
  width: 400px;
  background-color: white;
  padding: 20px;
  margin: auto;
  border:4px solid black
}


.email{
  padding: 10px;
  width: 10px ;
}


.detalle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.detalleImg {
  width: 14%;
  display: flex;
  flex-direction: column;
}

.imgDetalle {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.mainRegister {
  display: flex;
  justify-content: space-around;
  width: 500px;
  background-color: white;
  padding: 40px;
  margin: auto;
  border: 4px solid black;
}

.saludo1 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login {
  display: flex;
}

.regitster {
  display: flex;
}

.logout {
  display: none;
}

.bienvenidaMail {
  display: none;
}

.recuperar {
  display: none;
}

.textoR {
  display: none;
}