body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .logo {
    font-size: 40px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
 
  main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 200px;
    text-align: center; }
    
    

.AndresJeans{
  width: 80px;
  height: 80px;
}

.gif{
  width: 600px;
  height: 250px;
  margin: 0px;
  padding: 100px;
}

/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }
}